@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/bg-header-desktop.png');
    background-size: cover;
    height: auto;
    text-align: center;
    padding: 20px;
}

header h1, section h1 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

header p, section p {
    color: hsl(201, 11%, 66%);
    text-align: center;
}

header p {
    margin-bottom: 5vh;
}


.btn-header-area, .btn-download-area  {
    display: inline-block;
    justify-content: space-between;
}

.btn-ios, .btn-mac {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffff;
    border: none;
    border-radius: 50px;
    width: 290px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-ios {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 3px 1px hsl(171, 67%, 35%);
    margin-bottom: 20px;
}

.btn-mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 3px 1px hsl(233, 63%, 58%);
}

.btn-ios:hover, .btn-mac:hover {
    opacity: .8;
}

section {
    padding: 20px;
}

.section-main-title {
    font-size: 2rem;
}

section img {
    max-width: 100%;
    height: auto;
}

.main-p-section {
    margin-bottom: 4.5vh;
}

.p-section {
    margin-top: -15px;
    margin-bottom: -15px;
}

.supercharge-section-items {
    text-align: center;
}

.section-svg-icons {
    margin: 0 auto;  
}

.clipboard-section, .interprise-logos-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.interprise-logos-section {
    margin: 0 auto;
    padding: 15px;
}

.interprise-logos-section img {
    margin-left: 25px;
}


.btn-download-area {
    margin-top: 2vh;
    margin-bottom: 10vh;
}

footer {
    background-color: rgb(221, 221, 221);
    color: hsl(210, 10%, 33%);
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 15px;
}

footer ul li {
    margin-bottom: 2vh;
}

.footer-logo img {
    margin: 0 auto;
    width: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.social-media-logos {
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    margin-right: 15px;
}

@media (min-width: 990px) and (max-width:1440px) {

    .keep-track-section {
        display: inline-block;
        justify-content: space-between;
        flex-direction: row;
    }

    .keep-track-items img {
        float: left;
    }

    .keep-track-text {
        text-align: left;
    }
    
    .section-access-clipboard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    footer {
        display: inline-block;
        justify-content: space-between;
    }
}